<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posty</title>
</head>
<body>
    <header>
        <h1 style="color:orange; font-size:50px;">Logo</h1>
        <nav>
            <a href="post-add.html">New</a>  
        </nav>
    </header>

    <main>
        {% for post in posts %}
        <article>
            <div>
                <img src="{{post.photo_url}}" height="250px">
            </div>
            <div>
                <h2>{{post.name}}</h2>
                <p>{{post.body}}</p>
                <div>
                    <a href="edit">Edit</a> |
                    <a href="delete">Delete</a>
                </div>
            </div>
        </article>
        {% endfor %}    
       
    </main>
    
</body>
</html>